#authorization {
  min-height: 100vh;
  position: relative;

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    background-color: #EAEAEA;
    color: black;
    text-align: center;

    span {
      line-height: 25px;
      font-size: 0.7rem;
    }
  }

  .wrapper {
    height: calc(100% - 30px);

    .inner {
      position: absolute;
      top: 50%;
      left: 25%;
      right: 25%;
      transition: height 2s;

      @media only screen and (max-width: 900px) {
        left: 20%;
        right: 20%;
      }

      @media only screen and (max-width: 600px) {
        left: 10px;
        right: 10px;
      }

      transform: translateY(-50%);
      text-align: center;

      .form {
        opacity: 0;
        height: 0;
        transition: opacity ease-out 1000ms, height 500ms;

        .login-form {
          transition: margin-top 500ms;
          margin-top: 200px;
        }

        &.active {
          height: 40vh;
          opacity: 1;

          .login-form {
            margin-top: 50px;
          }
        }

        section {
          padding: 50px;
          box-sizing: border-box;
          min-height: 300px;
        }
      }
    }
  }
}